{% extends 'base.html' %}

    {% block content %}
    <h2 style = 'color:#cfe2e1c5;'>Мои одногруппники</h2>
    <h4 style = 'color:#cfe2e1c5;'>Группа: {{group}}</h4>
    <ul class='list-group mt-4' style = 'background-color:#cfe2e1c5;'>
        {% for i in list %}{% if i.student_id != student_name %}{% if i.group == group %}
            <li class='list-group-item list-group-item-warning' style = 'background-color:#cfe2e1c5;'>
                   {{i.fio}}
            </li>
        {% endif %}{% endif %}{% endfor %}
    </ul>
    {% endblock %}