html, body {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#stop {
  position: fixed;
  top: 15px;
  left: 15px;
  color: white;
  background: transparent;
  cursor: pointer;
}

#restart {
  position: fixed;
  top: 15px;
  right: 15px;
  color: white;
  background: transparent;
  cursor: pointer;
}

button {
  opacity: 0.5;
  border: 1px solid white;
  border-radius: 4px;
  transition: 0.2s opacity;
}

button:hover {
  opacity: 1;
}